

    /* quando e' grande  */

@media screen and (min-width: 878px) {
    
    .navbar-centro .centro-album img {
        height: 130px;
    }
    
}

/* da appena 878 px in giu  */


@media screen and (max-width: 878px) {
    
    .navbar-centro .centro-album {
        flex-wrap: wrap;
        gap: 15px;
        display: flex;
        justify-content: flex-start;

    }
    
    .navbar-centro .centro-album img {
        height: 130px;
    }

    .navbar-centro .album-secondo-blocco {
        margin-top: 150px;
    }
    

    /* da 639 px in giu visualizzazione a due a due  */

@media screen and (max-width: 639px) {

    .navbar-centro .centro-album {
        flex-wrap: wrap;
        gap: 25px;
        display: flex;
        justify-content:center;
        height: 50em;
    }
    
    .navbar-centro .centro-album img {
        height: 200px;
    }

    .navbar-centro .album-sotto img{
        height: 150px;
    }

    .navbar-centro .album-sotto {
        /* width: 100vw; */
        display: flex;
        justify-content: flex-start;
    }

    .navbar-centro .album-sotto-sotto img{
        height: 150px;
    }

    .navbar-centro .album-sotto-sotto {
        /* width: 100vw; */
        display: flex;
        justify-content: flex-start;
    }

    .navbar-centro .barra-centro-up .mini-centro-up .non-vis {
        display: none;
    }

    .navbar-centro .barra-centro-up .mini-centro-up span {
        font-size: 8px;
    }

    .navbar-centro .album-secondo-blocco {
        margin-top: 550px;
    }


}



/* smartphone  */


@media screen and (max-width: 594px) {
    
    .navbar-lato {
        width: 60px;
    }


    .navbar-lato li {
        margin-left: -0.3em;
    }

    .navbar-lato img {
        height: 70px;
        margin-left: -10px;
    }


    .home-cerca-libre .ul-due {
        display: none;
    }

    .home-cerca-libre .ul-uno img {
        margin-left: 7px;
    }

    .home-cerca-libre p {
        display: none;
    }

    .navbar-lato p {
        display: none;
    }

    .installa-app {
        display: none;
    } 

    /* barra sotto  */

    .navbar-down {
        display: flex;
        justify-content: space-around;
    }

    .navbar-down .down-left img {
        height: 50px;
    }

    .navbar-down .down-left p {
        display: none;
    }

    .navbar-down .down-left i {
        display: none;
    }


    .down-center .down-center-down p {
        display: none;
    }

    .navbar-down .down-right i {
        display: none;
    }

    .navbar-centro .album-secondo-blocco p {
        /* margin-top: 1250px; */
        margin-bottom: 2em;
        /* display: flex;
        flex-wrap: wrap; */
        /* width: 100px; */
    }

    .navbar-centro .album-secondo-blocco img {
        height: 200px;
    }
}

@media screen and (max-width: 462px) {
    .navbar-centro .album-secondo-blocco h2 {
        margin-top: 1250px;
    }

    .navbar-centro .album-secondo-blocco img {
        height: 150px;
    }

    .navbar-down .down-center .down-center-up .shuffle {
        display: none;
    }

    .navbar-down .down-center .down-center-up .rotate {
        display: none;
    }



}