* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




/* barra sopra  */



.container-big-up {
    height: 90vh;
    background-color: aqua;
    display: flex;
}

/* barra laterale  */


.navbar-lato {
    background-color: green;
    width: 350px;
    display: flex;
    flex-direction: column;
}


.navbar-lato img {
    padding: 1em;
    height: 4em;
}

.navbar-lato .home-cerca-libre {
    background-color: fuchsia;
    display: flex;
    flex-direction: column;
    color: rgb(180, 176, 176);
    font-size: 1em;
    /* padding: 1em; */
    gap: 0.8em;
    height: 15vh;
} 


.navbar-lato .home-cerca-libre img {
    height: 20px;
    padding: 0;
    margin-left: 20px;
}





.navbar-lato p {
    margin: 0.5em;
    font-size: 1em;
    color: rgb(180, 176, 176);
} 

.playlist {
    height: 50vh;
    background-color: red;
} 


.playlist i  {
    background-color: gray;
    color: black;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 10px;
} 

.installa-app {
    height: 13vh;
    background-color: chartreuse;
} 


.installa-app i{
    font-size: 0.7em;
    margin-left: 0.5em;

} 

.installa-app p {
    font-size: 1em;
} 


.installa-app .barra-installa {
    height: 2px;
    background-color: gray;
    width: 90%;
    margin-left: 0.5em;
    margin-right: 0.5em;
} 

.installa-app .foto-installa {
    margin-top: 1em;
    font-size: 1em;
    color: white;
} 

.installa-app .foto-installa i {
    font-size: 1em;
    margin-left: 0.5em;
    padding: 0.5em;
    background-color: gray;
    border-radius: 30px;
}


/* fine barra laterale  */



.cont-navbar-sopraecentro {
    background-color: black;
    height: 85vh;
    width: 100vw;
}



/* NAVBAR SOPRA  */


.navbar-sopra {
    background-color: black;
    height: 10vh;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-sopra p {
    border: 2px solid white;
    border-radius: 40px;
    padding: 1em;
    margin-right: 1em;
    color: white;
    font-size: 0.8em;
}

.navbar-sopra p:hover {
    background-color: white;
    color: black;
    scale: 1.1;
    transition: 1.5s;
}















.navbar-centro {
    background-color: aqua;
    height: 75vh;
}








/* BARRA SOTTO  */

.navbar-down {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}


/* parte sinistra  */

.down-left {
    background-color: blue;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: white;
}

.down-left img {
    height: 3.5em;
}

.down-left p {
    font-size: 1.2em;
    text-decoration: underline;
}




.down-center {
    background-color: rebeccapurple;
    width: 40vw;
}

.down-right {
    width: 25vw;
    background-color: chartreuse;
}