* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




/* barra sopra  */



.container-big-up {
    height: 90vh;
    background-color: aqua;
    display: flex;
    width: 100vw;
}


/* barra laterale  */


.navbar-lato {
    background-color: green;
    width: 250px;
    display: flex;
    flex-direction: column;
}


.navbar-lato img {
    padding: 1em;
    height: 5em;
}

li {
    padding: 0.3em;
    list-style: none;
}

.home-cerca-libre .li-due {
    list-style: none;
    color: white;
    padding: 0.4em;
}

.navbar-lato .home-cerca-libre {
    background-color: fuchsia;
    display: flex;
    flex-direction: row;
    color: rgb(180, 176, 176);
    font-size: 1em;
    /* padding: 1em; */
    gap: 0.8em;
    height: 15vh;
} 


.navbar-lato .home-cerca-libre img {
    height: 20px;
    padding: 0;
    margin-left: 20px;
}



.navbar-lato p {
    margin: 0.5em;
    font-size: 1em;
    color: rgb(180, 176, 176);
} 


.playlist {
    height: 50vh;
    padding: 1em;
    background-color: red;
} 

.playlist p:hover {

    text-decoration: underline;
    color: black;
    background-color: #1bd760;
    width: 7em;
    transition: 1.5s;
    scale: 1.1;
    border-radius: 20px;
    text-align: center;
}

.playlist i  {
    background-color: gray;
    color: black;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 10px;
} 

.installa-app {
    height: 13vh;
    background-color: chartreuse;
} 


.installa-app i{
    font-size: 0.7em;
    margin-left: 0.5em;

} 

.installa-app p {
    font-size: 1em;
} 


.installa-app .barra-installa {
    height: 2px;
    background-color: gray;
    width: 90%;
    margin-left: 0.5em;
    margin-right: 0.5em;
} 

.installa-app .foto-installa {
    margin-top: 1em;
    font-size: 1em;
    color: white;
} 

.installa-app .foto-installa i {
    font-size: 1em;
    margin-left: 0.5em;
    padding: 0.5em;
    background-color: gray;
    border-radius: 30px;
}


/* fine barra laterale  */



.cont-navbar-sopraecentro {
    height: 95vh;
    width: 100vw;
    overflow-y: scroll;
    max-height: 100%;
}



/* NAVBAR SOPRA  */


.navbar-sopra {
    background-color: black;
    height: 10vh;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-sopra p {
    border: 2px solid white;
    border-radius: 40px;
    padding: 1em;
    margin-right: 1em;
    color: white;
    font-size: 0.8em;
}

.navbar-sopra p:hover {
    background-color: #1bd760;
    color: black;
    scale: 1.1;
    transition: 1.5s;
}




/* fine barra lato  */





/* inizio parte centrale  */

.navbar-centro {
    background-color: aqua;
}



.barra-centro-up {
    background-color: green;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    display: flex;
}


.mini-centro-up {
    background-color: yellow;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 700px;
}


.barra-centro-up span:hover {
    text-decoration: underline #1bd760 3px;
    transition: 1.5s;
}


.navbar-centro h2 {
    color: white;
    padding: 1em;
}


.navbar-centro .centro-album {
    height: 25vh;
    width: 100%;
    background-color: red;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: space-around;
}


.card-1 img {
    height: 110px;
}

.card-1 h4 {
    color: white;
    text-align: center;
    font-size: 0.7em;
}

.card-1 p {
    color: gray;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}



.album-sotto {
    background-color: #1bd760;
    width: 50%;
    height: 25vh;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}

.navbar-centro .ascolti {
    color: gray;
    margin-top: -20px;
    margin-left: 25px;
    font-size: 10px;
}


.card-due img {
    height: 9em;
}

.card-due h4 {
    color: white;
    text-align: center;
    font-size: 13px;
}



.album-sotto-sotto {
    background-color: #1bd760;
    width: 50%;
    height: 25vh;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}


.card-tre img {
    height: 9em;
    clip-path: circle(closest-side at center);
}

.card-tre h4 {
    color: white;
    text-align: center;
    font-size: 13px;
}






















/* BARRA SOTTO  */

.navbar-down {
    background-color: black;
    height: 10vh;
    /* position: fixed; */
    /* min-width: 892px; */
    display: flex;
    justify-content: space-between;
}


/* parte sinistra  */

.down-left {
    background-color: blue;
    /* width: 25%; */
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

.down-left img {
    height: 3.5em;
}

.down-left p {
    font-size: 1.2em;
    text-decoration: underline;
}

/* parte centrale  */


.down-center {
    background-color: rebeccapurple;
    width: 50%;
    display: flex;
    flex-direction: column;
}


.down-center-up {
    background-color: brown;
    height: 50%;
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    color: white;
}



.down-center-down {
    background-color: darkgoldenrod;
    height: 50%;
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}



.down-center-down .barra-caricamento {
    height: 5px;
    background-color: yellow;
    width: 100%;
    display: flex;  
}

.down-center-down .bianco {
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 20px;
}

.down-center-down .pallina {
    background-color: green;
    height: 13px;
    width: 13px;
    margin-top: -3.5px;
    border-radius: 10px;
}

.down-center-down .grigio {
    background-color: gray;
    width: 80%;
    height: 100%;
    border-radius: 20px;
}


/* destra  */




.down-right {
    width: 25%;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.down-right i {
    font-size: 12px;
}


.down-right .barra-volume {
    height: 5px;
    width: 50%;
    display: flex;
}


.down-right .barra-volume .bianco {
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 20px;
}

.down-right .barra-volume .grigio {
    background-color: gray;
    width: 80%;
    height: 100%;
    border-radius: 20px;
}