* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




/* barra sopra  */



.container-big-up {
    height: 90vh;
    background-color: aqua;
    display: flex;
}

/* barra laterale  */


.navbar-lato {
    background-color: green;
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
}


.navbar-lato img {
    padding: 1em;
    height: 5em;
}

.navbar-lato .home-cerca-libre {
    background-color: fuchsia;
    display: flex;
    flex-direction: column;
    color: rgb(180, 176, 176);
    font-size: 1.5em;
    padding: 1em;
    gap: 0.5em;
}















.cont-navbar-sopraecentro {
    background-color: black;
    height: 85vh;
    width: 100vw;
}


.navbar-sopra {
    background-color: yellow;
    height: 10vh;
}

.navbar-centro {
    background-color: aqua;
    height: 75vh;
}

.navbar-down {
    background-color: black;
    height: 10vh;
}